In [17]:
# Dependencies
import json
import tweepy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from datetime import datetime
from pprint import pprint
import os

In [18]:
# Store filepath in a variable
file_one = os.path.join("Resources", "2015.csv")
file_two = os.path.join("Resources", "2016.csv")
file_three = os.path.join("Resources", "2017.csv")
file_four = os.path.join("Resources", "fertility_rate.csv")

In [19]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
hapiness_2015_df = pd.read_csv(file_one, encoding="ISO-8859-1")
hapiness_2016_df = pd.read_csv(file_two, encoding="ISO-8859-1")
hapiness_2017_df = pd.read_csv(file_three, encoding="ISO-8859-1")
fertility_rate_df = pd.read_csv(file_four, encoding="ISO-8859-1")

In [35]:
# Show 5 rows and the header 
hapiness_2015_df.head()

  Country Name  Happiness Score
0  Switzerland            7.587
1      Iceland            7.561
2      Denmark            7.527
3       Norway            7.522
4       Canada            7.427

In [23]:
hapiness_2015_df = hapiness_2015_df.loc[:,["Country","Happiness Score"]]
fertility_rate_df = fertility_rate_df.loc[:,["Country Name","2015"]]
fertility_rate_df = fertility_rate_df.dropna(how='any')
fertility_rate_df.head()

  Country Name     2015
0        Aruba  1.80100
1  Afghanistan  4.80200
2       Angola  5.76600
3      Albania  1.71400
5   Arab World  3.37384

In [30]:
fertility_rate_df = fertility_rate_df.rename(columns={"2015":"Birth Rate 2015"})
fertility_rate_df.head()

  Country Name  Birth rate
0        Aruba     1.80100
1  Afghanistan     4.80200
2       Angola     5.76600
3      Albania     1.71400
5   Arab World     3.37384

In [31]:
hapiness_2015_df = hapiness_2015_df.rename(columns={"Country":"Country Name"})
hapiness_2015_df.head()

  Country Name  Happiness Score
0  Switzerland            7.587
1      Iceland            7.561
2      Denmark            7.527
3       Norway            7.522
4       Canada            7.427

In [36]:
merged_dataframe = pd.merge(hapiness_2015_df, fertility_rate_df, on="Country Name")
merged_dataframe.head()

  Country Name  Happiness Score  Birth rate
0  Switzerland            7.587        1.54
1      Iceland            7.561        1.93
2      Denmark            7.527        1.69
3       Norway            7.522        1.75
4       Canada            7.427        1.60